@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(56, 80, 116, 1);
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-l-header.is-open .q-l-header-background {
  left: 0;
}
.q-l-header-button-wrapper {
  margin-left: auto;
}
.q-l-header-icon {
  display: none;
}

.q-l-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-l-navigation-list.is-open {
  right: 0;
}
.q-l-header-icon-menu {
  display: block;
}

.q-l-header-icon-button.is-open .q-l-header-icon-menu {
  display: none;
}

.q-l-header-icon-button.is-open .q-l-header-icon-close {
  display: block;
}

.q-l-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.q-l-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.q-l-header.is-open .q-l-header-background {
  left: 0;
}
.q-l-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-l-header-icon-menu {
  display: block;
}

.q-l-header-icon-button.is-open .q-l-header-icon-menu {
  display: none;
}

.q-l-header-icon-button.is-open .q-l-header-icon-close {
  display: block;
}

.q-l-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 20px;
  position: relative;
}

.q-l-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 657px;
  transition: 0.3s;
  z-index: 999;
  padding: 40px;
  gap: 36px;
  background: rgba(255, 255, 255, 1);
}

.q-l-navigation-list.is-open {
  right: 0;
}

.q-l-navigation-link {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(56, 80, 116, 1);
}

.q-l-navigation-link:hover,
.q-l-navigatioт-link:focus {
  font-family: Poppins;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
}

.q-l-header.is-open {
  background-color: transparent;
}

.q-l-navigation-img {
  display: none;
}

@media screen and (min-width: 1214px) {
  .q-l-navigation-img {
    display: flex;
  }
  .q-l-policy-terms-header-icon-menu {
    display: none;
  }

  .q-l-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .q-l-header-background {
  }
  .q-l-header-icon-button {
    display: none;
  }
  .q-l-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-l-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 12px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-l-navigation-link {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;

    text-align: center;
    padding: 0 20px;
    text-decoration: none;
  }

  .q-l-navigation-item-desk {
    display: none;
  }
}

.q-l-home-container {
  width: 375px;
  height: 956px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  padding: 120px 20px 0px;
  margin: auto;
}

.q-l-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.q-l-home-title-img {
  width: 335px;
}
.q-l-home-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: rgba(255, 255, 255, 1);
  padding: 22px 0 16px;
}

.q-l-home-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 22px;
  color: rgba(255, 255, 255, 1);
}

.q-l-home-google-button-image {
  width: 335px;
}

.q-l-home-google-button-link:hover .q-l-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1214px) {
  .q-l-home-container {
    width: 1440px;
    padding: 132px 88px 0px;
    width: 1440px;
    height: 780px;
    background-image: url("/img/home/3.png");
  }
  .q-l-home-container-top {
    width: 554px;
  }

  .q-l-home-title-img {
    width: 554px;
  }
  .q-l-home-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding: 12px 0 16px;
  }

  .q-l-home-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    padding-bottom: 36px;
  }
  .q-l-home-google-button-image {
    content: url("/img/home/22.png");
    width: 490px;
  }
}

.q-l-about-container {
  width: 375px;
  height: 1071px;
  padding: 64px 20px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ Our\ Game.png");
}
.q-l-about-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgba(65, 81, 106, 1);
}

.q-l-about-text {
  font-family: Hind;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  padding-top: 20px;
}

.q-l-about-list {
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  padding-top: 24px;
}
.q-l-about-list div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.q-l-about-qt {
  font-family: Hind;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  padding-top: 282px;
}
@media screen and (min-width: 1214px) {
  .q-l-about-container {
    width: 1440px;
    height: 758px;
    padding: 88px 80px;
    background-image: url("/img/About\ Our\ Game\ \(1\).png");
  }
  .q-l-about-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .q-l-about-titleq {
    text-align: left;
  }
  .q-l-about-text {
    font-family: Hind;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 480px;
    text-align: left;
    padding-top: 28px;
  }

  .q-l-about-list {
    font-family: Hind;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-top: 40px;
    width: 520px;
  }
  .q-l-about-qt {
    font-family: Hind;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    padding-top: 10px;
  }
}
.q-l-gallery {
  margin: auto;

  background: rgba(207, 233, 255, 1);
}
.q-l-gallery-container {
  width: 375px;
  margin: auto;
  padding: 64px 20px;
}
.q-l-uniqueness-list {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  color: rgba(56, 80, 116, 1);
}
.q-l-uniqueness-text-bold {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.q-l-uniqueness-text {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.q-l-gallery-list {
  padding: 40px 0;
}

.q-l-gallery-item {
  width: 335px;
  height: 596px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.q-l-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.q-l-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.q-l-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.q-l-gallery-button:hover {
  scale: 120%;
}
.q-l-gallery-button-containerss {
  display: none;
}
@media screen and (min-width: 1214px) {
  .q-l-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 88px 80px;
  }
  .q-l-gallery-button-containerss {
    display: flex;
  }
  .q-l-gallery-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .q-l-uniqueness-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: auto;
  }

  .q-l-uniqueness-list li {
    width: 216px;
  }
  .q-l-uniqueness-text {
    font-family: Poppins;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .q-l-uniqueness-text-bold {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .q-l-gallery-list {
    padding: 60px 0 0;
  }
  .q-l-gallery-item {
    width: 470px;
    height: 835px;
    border-radius: 20px;
    border-width: 2px;

    overflow: hidden;
    position: relative;
    margin: 0 18px;
  }
  .q-l-gallery-button-containers {
    display: none;
  }
}
.q-l-why-container {
  width: 375px;
  height: 1682px;
  margin: auto;
  padding: 64px 20px;
  background-repeat: no-repeat;

  background-image: url("/img/How\ to\ Play.png");
}
.q-l-why-list {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.q-l-why-item {
  width: 335px;
  height: 230px;
  padding-top: 32px;
  padding-right: 20px;
  padding-bottom: 32px;
  padding-left: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  color: rgba(56, 80, 116, 1);
}
.q-l-why-items {
  background: rgba(16, 121, 221, 1);
  color: rgba(255, 255, 255, 1);
}
.q-l-why-itemq {
  margin-top: 198px;
}
.q-l-why-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.q-l-why-text {
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;

  padding-top: 16px;
}

@media screen and (min-width: 1214px) {
  .q-l-why-container {
    width: 1440px;
    height: 803px;
    margin: auto;
    padding: 88px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/How\ to\ Play\ \(1\).png");
  }
  .q-l-why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    row-gap: 43px;
  }
  .q-l-why-item {
    width: 318px;
    height: 230px;
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 32px;
    padding-left: 20px;
    border-radius: 20px;
  }

  .q-l-why-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .q-l-why-itemq {
    margin: 0 0 0 570px;
  }
  .q-l-why-text {
    font-family: Hind;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 16px;
  }
}

.q-l-reviews-container {
  margin: auto;
  padding: 64px 20px;
  width: 375px;
  height: 1571px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Benefits.png");
}
.q-l-reviews-list {
  padding: 40px 0 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.q-l-reviews-item {
  display: flex;
  align-items: center;
  gap: 24px;
  color: rgba(56, 80, 116, 1);
}

.q-l-reviews-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.q-l-reviews-text {
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;

  padding-top: 8px;
}

@media screen and (min-width: 1214px) {
  .q-l-reviews-container {
    margin: auto;
    padding: 88px;
    width: 1440px;
    height: 932px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Benefits\ \(1\).png");
  }
  .q-l-reviews-list {
    padding: 60px 0 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .q-l-reviews-item {
    width: 609px;
    display: flex;
    align-items: center;
    gap: 24px;
    color: rgba(56, 80, 116, 1);
  }

  .q-l-reviews-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .q-l-reviews-text {
    font-family: Hind;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 8px;
  }
}

.q-l-faq {
  background: rgba(207, 233, 255, 1);
}
.q-l-faq-container {
  padding: 64px 20px;
  width: 375px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url("/img/FAQ.png");
}
.q-l-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.q-l-faq-item {
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  color: rgba(56, 80, 116, 1);
}

.q-l-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.q-l-faq-answer {
  display: none;
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-left: 16px;
  box-shadow: 3px 0px 0px 0px rgba(4, 139, 246, 1) inset;
}
.q-l-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1214px) {
  .q-l-faq-container {
    padding: 88px 270px;
    width: 1440px;
  }
  .q-l-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .q-l-faq-question {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .q-l-faq-answer {
    display: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.q-l-policy-terms-container {
  padding: 128px 20px 40px;
  width: 375px;
  margin: auto;
  color: rgba(55, 55, 55, 1);

  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.q-l-policy-terms-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.q-l-policy-terms-text {
  padding-top: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.q-l-policy-terms-texts {
  padding-top: 8px;
}

.q-l-policy-terms-text-one {
  padding-top: 20px;
}

.q-l-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.q-l-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.q-l-email-link {
  color: inherit;
  text-decoration: none;
}

.q-l-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1214px) {
  .q-l-policy-terms-container {
    padding: 164px 88px 60px;
    width: 1440px;

    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .q-l-policy-terms-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .q-l-policy-terms-text {
    padding-top: 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .q-l-policy-terms-text-one {
    padding-top: 30px;
  }

  .q-l-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.q-l-footer-container {
  width: 375px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  color: rgba(255, 255, 255, 1);
}

.q-l-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

.q-l-footer-text {
  text-decoration: none;
  color: inherit;
}

.q-l-footer-copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1214px) {
  .q-l-footer-container {
    width: 1440px;
    padding: 40px 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 170px;
  }

  .q-l-footer-wrapper {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    gap: 4px;
  }

  .q-l-footer-copyright {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0%;
  }
}

.q-l-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  padding: 32px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(217, 219, 233, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);

  border-radius: 20px;

  z-index: 1000;
  display: none;
}

.q-l-cookie-popup-text-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(111, 108, 144, 1);
}

.q-l-cookie-button-container {
  padding: 33px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.q-l-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(4, 139, 246, 1);
  box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
  background: rgba(255, 255, 255, 1);
  width: 196px;
  padding-top: 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(23, 15, 73, 1);
  padding-bottom: 18px;

  border-radius: 56px;
}

#accept-cookies {
  background: rgba(4, 139, 246, 1);
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
  color: rgba(255, 255, 255, 1);
}

.q-l-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1214px) {
  .q-l-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-l-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    width: 700px;
  }

  .q-l-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .q-l-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 72px;
    display: none;
  }
}
